[submodule "skills/qt-compiler-errors"]
	path = skills/qt-compiler-errors
	url = http://192.168.2.51:3000/mm-kzl/qt-compiler-errors.git
[submodule "skills/qt-ui-optimization"]
	path = skills/qt-ui-optimization
	url = http://192.168.2.51:3000/mm-kzl/qt-ui-optimization.git
[submodule "skills/qt-cpp-review"]
	path = skills/qt-cpp-review
	url = http://192.168.2.51:3000/mm-kzl/qt-cpp-review.git
